{{>nav}}
<div class="aboutdiv">
    <h1>About me</h1>
    <p>I'm not that intresting so here is some random text to make the page look better: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi quis suscipit enim. Mauris hendrerit vitae erat at tempor. Maecenas sollicitudin ultricies tortor, quis finibus metus volutpat non. Integer tellus arcu, finibus quis elementum ut, sagittis quis magna. Praesent eget ipsum tellus. Nulla luctus magna egestas, posuere urna eget, facilisis lectus. Ut mollis sem odio, at dignissim nunc lacinia in.

Sed vel faucibus arcu. Suspendisse tristique justo vel nisl tincidunt tempor. Aliquam sed condimentum metus, sit amet imperdiet nibh. Quisque accumsan dui non dui ullamcorper tempus. Quisque id metus tortor. Nullam vitae egestas libero, nec sollicitudin nulla. Aliquam finibus odio ipsum, quis malesuada eros sollicitudin non. Duis nec ullamcorper nibh.</p>
</div>

{{>footer}}
