{{>nav}}
<section>
    <h1>My homepage</h1>
    <p>This is the homepage</p>
    <h2>This is a random gif of a hedgehog that's surfing the web:</h2>
    <img src="websurver.gif" alt="websurfer">
</section>
{{>footer}}
